.image__item {
  position: absolute;
  z-index: 3;

  &__btn {
    cursor: pointer;
    width: 40px;
    height: 40px;

    & img {
      width: 32px;
      height: 32px;
    }
  }

  &__more {
    box-sizing: border-box;
    width: 220px;
    height: 86px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    position: absolute;
    top: 28px;
    left: -20px;
    padding: 8px 0 8px 8px;
    border-radius: 7px;
    margin-top: 16px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #4a4a4a;
    z-index: 10;

    &.bottom-item {
      top: unset;
      bottom: 52px;
    }
    &.right-item {
      top: unset;
      left: -160px;
    }
    &__preview {
      width: 70px;
      height: 70px;
      margin-right: 8px;
      background-size: cover;
      background-position: center;
      border-radius: 4px;
    }
    &__desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 2px;
      overflow: hidden;
      text-align: left;

      &__title {
        width: 100%;
        overflow: hidden;
        color: #333c45;
        white-space: initial;
        text-overflow: ellipsis;
        line-height: 1.3em;
      }
    }
    &::before {
      position: absolute;
      top: -8px;
      left: 34px;
      width: 12px;
      height: 8px;
      background-image: url("../../Assets/tail.png");
      background-size: cover;
      content: "";
      background-repeat: no-repeat;
    }
  }
}
