.image__item {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;

  &__btn {
    width: 40px;
    height: 40px;
    z-index: 3;

    & > img {
      margin: 0 4px;
      width: 32px;
      height: 32px;
    }
  }
}
